/* RESET SEDERHANA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f0f0f;
  color: #ffffff;
  line-height: 1.6;
}

/* NAVBAR */
header {
  background: #d00000; /* merah khas Spider-Man */
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #000;
}

/* MAIN CONTENT */
main {
  padding: 20px;
}

section {
  margin: 40px 0;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #d00000;
}

section h2 {
  margin-bottom: 10px;
  color: #d00000;
}

img {
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

/* FIGURE */
figure {
  margin-top: 20px;
}

figcaption {
  margin-top: 5px;
  font-style: italic;
  text-align: center;
  color: #c3c3c3;
}

/* FOOTER */
footer {
  background: #d00000;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* RESPONSIVE NAVBAR */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
